@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background: #fafafa;
  font-weight: 300;
}

/* Navbar Section */
.container {
  min-width: 1400px;
  width: 75%;
  margin: 0 auto;
  overflow: hidden;
}
.navbar {
  background: #2e2673;
  width: 100%;
  color: #fff;
}

/* Navbar Section */

.navbar__container {
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__title {
  font-size: 2rem;
  font-weight: 500;
}
.paragraph {
  font-size: 1.5rem;
}
.paragraph::after {
  content: "";
  display: block;
  width: 400px;
  height: 4px;
  background: #fafafa;
  margin-top: 2px;
}

.navbar__search {
  flex-basis: 20%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  /* border-bottom: 3px solid #fff; */
}
.icon {
  color: white;
  align-self: center;
  font-size: 1.8rem;
  margin-left: 15px;
  text-decoration: none;
}
.navbar__listitem {
  display: inline-block;
  margin-left: 50px;
}

.navbar__item {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

/* Carrousel section */

.carrousel {
  width: 100%;
  height: 100vh;

  position: relative;
}
/* .imagen1 {
  padding: 0.1px;
  background-image: url(./utils/imagen1.jpg);
}
.imagen2 {
  padding: 0.1px;
  background-image: url(./utils/imagen2.jpg);
}
.imagen3 {
  padding: 0.1px;
  background-image: url(./utils/imagen3.jpg);
} */
.carrousel__img {
  width: 100%;
  height: inherit;

  transition: all 2s ease;
}
.left,
.right {
  height: 100px;
  line-height: 100px;
  font-size: 5rem;
  margin-top: calc(50vh - 100px);
  margin-left: 4%;
  text-align: center;
  color: rgba(0, 0, 0, 0.383);
  position: absolute;
}
.left {
  top: 0;
  left: 0;
}
.right {
  margin-left: 88%;
  top: 0;
  left: 80px;
}
.left:hover,
.right:hover {
  cursor: pointer;
}

/* Category section */

.category {
  width: 100%;
  padding: 60px 0;
  text-align: center;
}
.category__title,
.moreSearch__title {
  text-align: center;
  width: 200px;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 500;
  border-bottom: 4px solid crimson;
}
/* .category__title h2::before {
  content: "";
  width: 150px;
  display: block;
  height: 3px;
  background: crimson;
  text-align: center;
} */

.category__list {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 50px;
  justify-items: center;
}

.category__list a {
  text-decoration: none;
  /* padding: 10px; */
  background: steelblue;
  padding: 20px;
  border-radius: 15px;
  width: 200px;
  height: 30px;
  font-weight: 500;
  text-align: center;
  line-height: 30px;
  color: #fafafa;
  font-size: 1.2rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.75);
}

/* MoreSearch section */

.moreSearch h2 {
  width: 350px;
}

/* .moreSearch {
  display: flex;
} */
.container__search {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;
  background: #fafafa;
}

.moreSearch__card {
  width: 30%;
  padding: 0 0 30px 0;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.246);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .moreSearch__card figure {
  width: 100%;
  height: 100%;
  margin: 30px auto;
} */
.moreSearch__figure {
  width: 100%;
  cursor: pointer;
}
.card__text {
  flex: 1;
}
.card__img {
  border-radius: 5px 5px 0 0;
  width: inherit;
  height: 450px;
  margin: 0 auto;
}

.card__title {
  font-size: 2rem;
}
.card__paragraph {
  font-size: 1.5rem;
}
